// - Font sizes
$font-size-base: 1.6rem;
$font-size-xsmall: 1.2rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.8rem;
$font-size-large: 2.4rem;
$font-size-headline-primary: 3.2rem;

// -- Font weights
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-bolder: 900;

// Transitions
$default-transition: all 0.3s ease-in;
